#wrapper {
    text-align: center;
}
div.header {
    height: 100px;
    text-align: center;
}
section {
    height: 100px;
    text-align: center;
}
button {
    width: 100px;
    height: 50px;
}
.selected {
    background-color: yellow;
}